.navbar {
    font-family: 'Segoe UI';
    width: 100%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navLogo {
    width: 180px;
}

.ondesktop {
    position: relative;
}

.offerList {
    display: none;
    position: absolute;
    top: 30px;
}

#ourOfferMenu {
    color: #0000008e;
}

#ourOfferMenu:hover .offerList {
    display: block;
}

.offerList span {
    position: absolute;
    background-color: var(--blue);
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    top: -5px;
    left: 10px;
    z-index: -1;
}

.offerList p a {
    color: white;
}

.offerList p {
    font-weight: 500 !important;
    background-color: var(--blue);
    z-index: 1;
    font-size: .9rem;
    line-height: 2.5rem;
    padding: 0 1.5rem;
    min-width: max-content;
    transition: all ease-in-out 300ms;
}

.offerList p:hover {
    background-color: var(--darkblue);
}

.navItems {
    max-width: 1125px;
    width: -webkit-fill-available;
    list-style: none;
    display: flex;
    padding: 0 3rem;
    align-items: center;
    justify-content: space-between;
}

.navItems a {
    color: #0000008e;
    transition: all ease-in-out 100ms;
}

.navItems li {
    font-size: 1rem;
    font-weight: 900;
    cursor: pointer;
    line-height: 1rem;
    padding: .4rem 0;
    transition: all ease-in-out 300ms;
}

.navItems li:hover {
    color: black;
}

.logInOut {
    display: flex;
    width: 160px;
}

.logInOut button {
    padding: .2rem .6rem;
    font-size: .7rem;
    color: white;
    border-radius: 4px;
    background-color: var(--blue);
    transition: all ease-in-out 300ms;
    margin-left: 5px;
}

.logInOut button:hover {
    background-color: var(--darkblue);
}

#menuButton {
    display: none;
}

#mobileMenu {
    display: none;
}


/* first break point at 1000px */
@media screen and (max-width: 1000px) {
    .navbar {
        padding: 0;
    }

    #navLogo {
        width: 140px;
    }

    .navItems {
        padding: 0 2rem;
    }

    .navItems li {
        font-size: .8rem;
    }

    .logInOut button {
        font-size: .6rem;
    }
}

/* second break point at 650px */
@media screen and (max-width: 650px) {
    #menuButton {
        display: block;
        padding: 0 .7rem;
        position: relative;
    }

    #mobileMenu span {
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: var(--yellow);
        z-index: -1;
        top: -4px;
        left: 7px;
        transform: rotate(45deg);
    }

    #mobileMenu a{
        color: white;
    }
    #mobileMenu {
        position: absolute;
        top: 25px;
        left: 6px;
        font-family: "Poppins";
        font-style: normal;
        font-size: .8rem;
        width: 150px;
        padding: 1rem 0;
        background-color: var(--yellow);
        border-radius: 3px;
        transition: all ease-in-out 300ms;
    }

    #mobileMenu li {
        padding: .7rem 1rem .3rem 1rem;
        transition: all ease-in-out 300ms;
    }

    #mobileMenu li:hover {
        background-color: var(--dirtyyellow);
    }

    .ondesktop {
        display: none;
    }

    #navLogo {
        width: 100px;
    }

    .navItems {
        justify-content: center;
        padding: 0 1rem;
    }

    .logInOut button {
        border-radius: 3px;
        font-size: .4rem;
        padding: .2rem .4rem;
        margin-left: 2px;
    }
}