/******************************************************/
/*                 Encash our business                */
/******************************************************/

.encashyourbusines {
    width: max-content;
    margin: auto;
}

.encashyourbusines h3 {
    color: var(--yellow);
    font-family: 'Poppins Bold';
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    margin: 3rem 0;
}

.ecbgridconainer {
    max-width: 860px;
}

.ecbcard {
    border: 4px solid var(--blue);
    font-family: 'Poppins';
    padding: 1rem .5rem;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ecbcard img {
    width: 50px;
}

.ecbcard h4 {
    font-family: 'Poppins Bold';
    font-weight: 500;
}

.ecbcard p {
    font-size: .8rem;
}

.ecbcardHeader {
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
}

.ecbcardHeader h4 {
    margin-left: 1rem;
    border-left: 1px solid black;
    padding-left: 1rem;
}

.ecbcard .hr2 {
    width: 60%;
    margin: .5rem 0;
}

.ecbcardfooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ecbgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 1rem;
    max-width: max-content;
}

.custom-button-group-ecb {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.custom-button-group-ecb button {
    background-color: transparent;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.custom-button-group-ecb div {
    margin: 5px 10px;
    font-size: .8rem;
    font-family: 'Poppins Bold';
    font-weight: 500;
}

@media screen and (max-width: 900px) {
    .ecbgridconainer {
        max-width: 565px;
    }

    .ecbgrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .ecbgridconainer {
        max-width: 280px;
        margin: auto;
    }
}

@media screen and (max-width: 460px) {
    .encashyourbusines h3 {
        font-size: 1.5rem;
        margin: 0 0 2rem 0;
    }
}

/******************************************************/
/*                 executive sales partner            */
/******************************************************/

.espsection {
    background-color: var(--darkgray);
}

.esp {
    font-family: 'Poppins Bold';
    font-weight: 500;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 5rem;
    max-width: 1440px;
    margin: auto;
}

.esp img {
    width: 80%;
}

.esp h3 {
    width: 55%;
    text-align: center;
    font-size: 2rem;
    margin: 3rem auto;
}

.esp span {
    position: absolute;
    top: -8px;
    width: 1rem;
    height: 1rem;
    transform: rotate(45deg);
    background-color: white;
}

@media screen and (max-width: 1439px) {
    .esp h3 {
        width: 80%;
        font-size: 1.8rem;
        margin: 2rem auto;
    }
}

@media screen and (max-width: 1024px) {
    .esp img {
        width: 90%;
    }

    .esp h3 {
        width: 90%;
        font-size: 1.5rem;
        margin: 1.4rem auto;
    }
}

@media screen and (max-width: 600px) {
    .esp {
        padding-bottom: 2rem;
    }

    .esp h3 {
        width: 90%;
        text-align: center;
        font-size: .95rem;
        margin: 1rem auto;
    }
}

/******************************************************/
/*                     Upcoming Event                 */
/******************************************************/

.event {
    position: relative;
    font-family: 'Poppins';
}

.event .worldmap {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
}

.eventContainer {
    max-width: 1350px;
    min-height: 300px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.upcomingevent {
    width: 59%;
}

.vedios {
    width: 39%;
}

.eventheader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem 0;
    font-weight: lighter;
}

.eventheader strong {
    font-family: 'Poppins Bold';
    font-weight: 500;
}

.eventheaderhr1,
.eventheaderhr2 {
    border: none;
    height: 8px;
    background-color: var(--dirtyyellow);
    margin-left: 20px;
}

.eventheaderhr1 {
    width: 67%;
}

.eventheaderhr2 {
    width: 55%;
}

.eventcard {
    margin: 1.5rem 0;
    width: 90%;
}

.eventcard strong {
    color: var(--blue);
    font-family: 'Poppins Bold';
    font-family: 500;
}

.eventcard p {
    margin-top: .8rem;
}

.react-multi-carousel-dot-list {
    width: 70%;
    left: 40%;
    transform: translate(-60%, 0);
    bottom: 5rem;
}

.react-multi-carousel-dot--active button {
    background-color: var(--blue) !important;
}

.popup {
    position: relative;
    background-color: var(--blue);
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    color: white;
}

.popup img {
    padding-right: 2rem;
    cursor: pointer;
}

.popup span {
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    left: 10px;
    bottom: -5px;
    position: absolute;
    background-color: var(--blue);
    z-index: -1;
}

.user {
    margin: 1rem auto;
    display: flex;
    align-items: flex-start;
}

.user div {
    margin-left: 1rem;
}

.user div h4 {
    font-family: 'Poppins Bold';
    font-weight: 500;
    color: var(--blue);
}

.user div h5 {
    color: var(--blue);
}

@media screen and (max-width: 1400px) {
    .eventContainer {
        max-width: 900px;
    }

    .eventheaderhr1 {
        width: 55%;
    }

    .eventheaderhr2 {
        width: 33%;
    }

    .popup {
        padding: 1.3rem;
    }

    .popup img {
        width: 80px;
        padding-right: 1.3rem;
        height: 50px;
    }
}

@media screen and (max-width: 950px) {
    .eventContainer {
        flex-direction: column;
        width: max-content;
    }

    .upcomingevent {
        margin-bottom: 2rem;
    }

    .upcomingevent,
    .vedios {
        width: 400px;
    }

    .react-multi-carousel-dot-list {
        top: 12rem;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .eventheaderhr1 {
        width: 43%;
    }
}

@media screen and (max-width: 440px) {
    .upcomingevent, .vedios{
        width: 310px;
    }
    .vedios{
        margin-top: 1rem;
    }
    .eventcard{
        margin: 0.5rem 0;
        width: 100%;
        text-align: center;
    }
    .react-multi-carousel-dot-list{
        top: 11rem;
    }
    .eventheader{
        font-size: .8rem;
    }
    .eventheaderhr1{
        height: 4px;
        width: 40%;
    }
    .eventheaderhr2{
        height: 4px;
        width: 27%;
    }
    .popup p{
        font-size: .7rem;
    }
}
@media screen and (max-width: 350px) {
    .upcomingevent, .vedios{
        width: 260px;
    }
    .eventheaderhr2{
        width: 23%;
    }
}