.footer {
    background-color: var(--darkgray);
    font-family: 'Segoe UI';
}

.grayTap {
    padding: 1.5rem 0 2rem 0;
    max-width: 1380px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.tap {
    background-color: var(--yellow);
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .5rem 0;
}

.tap span {
    display: flex;
    align-items: center;
}

.tap span img {
    margin-right: 1rem;
    width: 30px;
}

.tap span p {
    cursor: pointer;
}

.mindes {
    color: var(--lightblack);
    max-width: 400px;
    font-size: .9rem;
}

.footerlist strong {
    font-family: 'Segoe UI Bold';
    font-size: .9rem;
}

.footerlist li {
    cursor: pointer;
    line-height: 1.5rem;
    font-size: .9rem;
    font-weight: 500;
}

.subscribeNews h5 {
    font-size: 1rem;
    font-family: 'Segoe UI Bold';
    margin-bottom: .5rem;
}

.subscribeNews input {
    padding: 0rem .8rem;
    min-width: 250px;
    height: 30px;
    font-size: .9rem;
}

.subscribeNews p {
    color: white;
    margin-top: .5rem;
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: .8rem;
}

.subscribeNews button {
    background-color: var(--lightviolet);
    color: white;
    height: 30px;
    padding: .4rem 1.5rem;
}
.mobfooter{
    display: none;
}

/* first break point */
@media screen and (max-width: 1400px) {
    .mindes {
        font-size: .8rem;
        max-width: 320px;
    }

    .grayTap {
        max-width: 970px;
    }

    .tap {
        font-size: .9rem;
    }

    .tap span img {
        margin-left: .8rem;
        width: 25px;
    }

    .footerlist strong {
        font-size: .7rem;
    }

    .footerlist li {
        line-height: 1rem;
        font-size: .7rem;
    }

    .subscribeNews h5 {
        font-size: .8rem;
        margin: .3rem 0;
    }

    .subscribeNews p {
        font-size: .6rem;
        font-family: "Segoe UI";
        font-weight: 500;
        margin-top: .4rem;
    }

    .subscribeNews input {
        min-width: 100px;
        height: 25px;
        font-size: .8rem;
    }

    .subscribeNews button {
        height: 25px;
        padding: .4rem 1rem;
        font-size: .7rem;
    }
}

/* Second break point */
@media screen and (max-width: 980px) {
    .grayTap{
        max-width: 500px;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-gap: .8rem;
    }
    .tap{
        justify-content: space-between;
        max-width: 450px;
        margin: auto;
    }
    .tap span img{
        width: 20px;
        margin-right: .4rem;
    }
    .tap span p{
        font-size: .8rem;
    }
    .subscribeNews{
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .mindes{
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .mindes, .subscribeNews{
        max-width: 100%;
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

/* Second break point */
@media screen and (max-width: 520px) {
    .grayTap{
        max-width: 310px;
    }
    .tap{
        justify-content: space-between;
        max-width: 300px;
    }
    .tap span img{
        width: 15px;
        margin-right: .2rem;
    }
    .tap span p{
        font-size: .6rem;
        margin-right: .5rem;
    }
    .mobfooter{
        display: block;
        font-size: .6rem;
    }
    .mobfooter span{
        margin-right: .5rem;
    }
    .footerSocial{
        display: flex;
        max-width: 180px;
        margin: 1rem auto;
        justify-content: space-between;
    }
    .footerSocial svg{
        font-size: 2rem;
    }
    .mobfooter p{
        width: max-content;
        margin: auto;
        padding: .4rem 0;
    }
}