* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* colors */
:root {
  --blue: #0099E6;
  --darkblue: #0D72B8;
  --yellow: #FFC727;
  --dirtyyellow: #C38F04;
  --lightgray: #DDDDDD;
  --darkgray: #B5C2CF;
  --lightblack: #505050;
  --lightviolet: #3E416C;
}

/* Segoe UI Font family */
@font-face {
  font-family: 'Segoe UI';
  src: local('SegoeUI'), url(./assets/font/Segoe\ UI.woff) format('woff');
}

@font-face {
  font-family: 'Segoe UI Bold';
  src: local('SegoeUIBold'), url(./assets/font/Segoe\ UI\ Bold.woff) format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Segoe UI Italic';
  src: local('SegoeUIItalic'), url(./assets/font/Segoe\ UI\ Italic.woff) format('woff');
}

/* Poppins Font family */
@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./assets/font/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins Bold';
  src: local('PoppinsBold'), url(./assets/font/Poppins-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins Italic';
  src: local('PoppinsItalic'), url(./assets/font/Poppins-Italic.ttf) format('truetype');
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  font-family: 'Poppins';
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
  font-family: 'Segoe UI';
}

ul {
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: auto;
}